<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
</head>
    <title>ToDo</title>
</head>
<body>
    <div id="app">
        <div class="title">
            <p>ToDo List</p>
        </div>
        <div class="inputWrapper">
            <input placeholder="Enterで追加" v-on:keyup.enter="addTodo" v-model="newTodo"><!--v-modal→Enter押したときの値をVueのプロパティに渡す v-on→Enter押したときにaddTodoメソッド起動-->
        </div>
        <ul class="listGroup" v-for="(todo,index) in filteredTodos"><!--filterを入れた-->
            <li v-bind:class="{completed:todo.completed}"><!--completedクラス=取り消し線-->
                <input type="checkbox" class="check" v-model="todo.completed"></button>
                {{todo.title}}
                <button class="destroy" v-on:click="remove(index)"><i class="fas fa-trash"></i></button>
            </li>
        </ul>
        <div class="menu">
        <button v-on:click="filter='all'">All</button>
        <button v-on:click="filter='active'">Active</button>
        <button v-on:click="filter='completed'">Completed</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                newTodo:null,
                todos: [
                    {title:"朝ごはん",completed:true},
                    {title:"懸垂10回×3",completed:false},
                    {title:"昼ごはん",completed:false},
                    {title:"iPhoneの掃除",completed:false},
                    {title:"夜ごはん",completed:false}
                ],
                filter:"all"
            },
            computed:{
                filteredTodos(){
                    if(this.filter === 'all'){
                        return this.todos //全部表示
                    }else if(this.filter === 'completed' ){
                        return this.todos.filter((todo)=>{
                        return　todo.completed
                        }) //取り消し線の要素だけ表示
                    }
                    else if(this.filter ==='active'){
                        return this.todos.filter((todo)=>{
                        return　!todo.completed
                        }) //activeの要素だけ表示
                    }

                }
            },
            methods:{
               addTodo(){
                   if(!this.newTodo){
                       return
                　　}//空白でpushした際にメソッドを実行させない
                   this.todos.push({title:this.newTodo,completed:false}) //inputの値をtodosに反映
                   this.newTodo = null // Enter押したあとinputの値を初期値に戻す
               },
               remove(index){
                   this.todos.splice(index,1)
               }

                }
        })
    </script>
</body>
</html>